button {
  margin: 20px 0;
}

body {
  width: 50%;
  margin: 0 auto;
}

#submit {
  margin-left: 20px;
  background-color: blue;
  color: #fff;
}

.answerLabel {
  margin-right: 10px;
}

#reset {
	margin-left: 20px;
	background-color: yellow;
	color: black;
}

#answers {
	border-style: solid 1px #A9A9A9;
	padding-left: 20px;
	padding-right: 20px;
}